/bin/
/.settings/
/target/
.classpath
.project
/logs/

#IntelliJ
**/.idea/
**/*.iml
**/*.ims

#MacOS
**/.DS_Store

#Eclipse
**/*.classpath
**/*.project
**/*.settings/
**/*.metadata/

#Maven
**/log/
**/target/

#Java
**.class
**.jar

#Others
**/*.log.*
**/*.log
/kvstore_race.zip
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/README.md
